requests>=2.28.0
beautifulsoup4>=4.11.1
pydantic>=2.0.0
streamlit>=1.28.0
pandas>=2.0.0
plotly>=5.15.0
urllib3>=1.26.15
matplotlib>=3.7.1
python-dotenv==1.0.1
OTXv2==1.5.12
markdown>=3.5.0
jinja2>=3.1.0
pyyaml>=6.0